<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBrasilDidaticos" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"></binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="BrasilDidaticos.WcfServico.Servico.BrasilDidaticos" behaviorConfiguration="ServiceBehavior">
        <endpoint name="BasicHttpBinding_IBrasilDidaticos" address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBrasilDidaticos" contract="BrasilDidaticos.WcfServico.Servico.IBrasilDidaticos" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <!--To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment-->
          <serviceMetadata httpGetEnabled="true" />
          <!--To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information-->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="false" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="true" maxMessagesToLog="3000" maxSizeOfMessageToLog="2147483647" />
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\Traces.svclog" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\messages.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <connectionStrings>
    <add name="BRASIL_DIDATICOS" connectionString="metadata=res://*/Dados.BrasilDidaticos.csdl|res://*/Dados.BrasilDidaticos.ssdl|res://*/Dados.BrasilDidaticos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MAGNUM-PC\SQLEXPRESS;initial catalog=BRASIL_DIDATICOS;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- <add name="BRASIL_DIDATICOS" connectionString="metadata=res://*/Dados.BrasilDidaticos.csdl|res://*/Dados.BrasilDidaticos.ssdl|res://*/Dados.BrasilDidaticos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERBD\SQLEXPRESS;initial catalog=BRASIL_DIDATICOS;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
  </connectionStrings>
</configuration>