/*
   domingo, 10 de fevereiro de 201320:40:21
   User: 
   Server: MAGNUM-PC\SQLEXPRESS
   Database: BRASIL_DIDATICOS
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_T_EMPRESA_CODIGO
	(
	COD_PRODUTO int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_T_EMPRESA_CODIGO SET (LOCK_ESCALATION = TABLE)
GO
IF EXISTS(SELECT * FROM dbo.T_EMPRESA_CODIGO)
	 EXEC('INSERT INTO dbo.Tmp_T_EMPRESA_CODIGO (COD_PRODUTO)
		SELECT COD_PRODUTO FROM dbo.T_EMPRESA_CODIGO WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.T_EMPRESA_CODIGO
GO
EXECUTE sp_rename N'dbo.Tmp_T_EMPRESA_CODIGO', N'T_EMPRESA_CODIGO', 'OBJECT' 
GO
COMMIT
select Has_Perms_By_Name(N'dbo.T_EMPRESA_CODIGO', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.T_EMPRESA_CODIGO', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.T_EMPRESA_CODIGO', 'Object', 'CONTROL') as Contr_Per 