/*
   terça-feira, 21 de maio de 201321:13:00
   User: 
   Server: MAGNUM-PC\SQLEXPRESS
   Database: BRASIL_DIDATICOS
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.T_UNIDADE_MEDIDA SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.T_UNIDADE_MEDIDA', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.T_UNIDADE_MEDIDA', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.T_UNIDADE_MEDIDA', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.T_ITEM_PEDIDO
	DROP CONSTRAINT FK_T_ITEM_PEDIDO_T_PRODUTO
GO
ALTER TABLE dbo.T_PRODUTO SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.T_PRODUTO', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.T_PRODUTO', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.T_PRODUTO', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.T_ITEM_PEDIDO
	DROP CONSTRAINT FK_T_ITEM_PEDIDO_T_PEDIDO
GO
ALTER TABLE dbo.T_PEDIDO SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.T_PEDIDO', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.T_PEDIDO', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.T_PEDIDO', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.T_ITEM_PEDIDO
	DROP CONSTRAINT DF_Table3_ID_ITEM
GO
CREATE TABLE dbo.Tmp_T_ITEM_PEDIDO
	(
	ID_ITEM_PEDIDO uniqueidentifier NOT NULL,
	ID_PRODUTO uniqueidentifier NULL,
	ID_PEDIDO uniqueidentifier NOT NULL,
	ID_UNIDADE_MEDIDA uniqueidentifier NULL,
	NUM_VALOR money NOT NULL,
	NUM_DESCONTO money NULL,
	NUM_QUANTIDADE int NOT NULL,
	DATA_ATUALIZACAO datetime NOT NULL,
	LOGIN_USUARIO varchar(20) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_T_ITEM_PEDIDO SET (LOCK_ESCALATION = TABLE)
GO
ALTER TABLE dbo.Tmp_T_ITEM_PEDIDO ADD CONSTRAINT
	DF_Table3_ID_ITEM DEFAULT (newid()) FOR ID_ITEM_PEDIDO
GO
IF EXISTS(SELECT * FROM dbo.T_ITEM_PEDIDO)
	 EXEC('INSERT INTO dbo.Tmp_T_ITEM_PEDIDO (ID_ITEM_PEDIDO, ID_PRODUTO, ID_PEDIDO, NUM_VALOR, NUM_DESCONTO, NUM_QUANTIDADE, DATA_ATUALIZACAO, LOGIN_USUARIO)
		SELECT ID_ITEM_PEDIDO, ID_PRODUTO, ID_PEDIDO, NUM_VALOR, NUM_DESCONTO, NUM_QUANTIDADE, DATA_ATUALIZACAO, LOGIN_USUARIO FROM dbo.T_ITEM_PEDIDO WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.T_ITEM_PEDIDO
GO
EXECUTE sp_rename N'dbo.Tmp_T_ITEM_PEDIDO', N'T_ITEM_PEDIDO', 'OBJECT' 
GO
ALTER TABLE dbo.T_ITEM_PEDIDO ADD CONSTRAINT
	PK_T_ITEM_PEDIDO PRIMARY KEY CLUSTERED 
	(
	ID_ITEM_PEDIDO
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.T_ITEM_PEDIDO ADD CONSTRAINT
	FK_T_ITEM_PEDIDO_T_PEDIDO FOREIGN KEY
	(
	ID_PEDIDO
	) REFERENCES dbo.T_PEDIDO
	(
	ID_PEDIDO
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.T_ITEM_PEDIDO ADD CONSTRAINT
	FK_T_ITEM_PEDIDO_T_PRODUTO FOREIGN KEY
	(
	ID_PRODUTO
	) REFERENCES dbo.T_PRODUTO
	(
	ID_PRODUTO
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.T_ITEM_PEDIDO ADD CONSTRAINT
	FK_T_ITEM_PEDIDO_T_UNIDADE_MEDIDA FOREIGN KEY
	(
	ID_UNIDADE_MEDIDA
	) REFERENCES dbo.T_UNIDADE_MEDIDA
	(
	ID_UNIDADE_MEDIDA
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
select Has_Perms_By_Name(N'dbo.T_ITEM_PEDIDO', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.T_ITEM_PEDIDO', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.T_ITEM_PEDIDO', 'Object', 'CONTROL') as Contr_Per 