/*
   domingo, 10 de fevereiro de 201320:01:29
   User: 
   Server: MAGNUM-PC\SQLEXPRESS
   Database: BRASIL_DIDATICOS
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.T_PRODUTO
	DROP CONSTRAINT FK_T_PRODUTO_T_FORNECEDOR
GO
ALTER TABLE dbo.T_FORNECEDOR SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.T_FORNECEDOR', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.T_FORNECEDOR', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.T_FORNECEDOR', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.T_PRODUTO
	DROP CONSTRAINT DF_T_PRODUTO_ID_PRODUTO
GO
ALTER TABLE dbo.T_PRODUTO
	DROP CONSTRAINT DF_T_PRODUTO_BOL_ATIVO
GO
CREATE TABLE dbo.Tmp_T_PRODUTO
	(
	ID_PRODUTO uniqueidentifier NOT NULL ROWGUIDCOL,
	ID_FORNECEDOR uniqueidentifier NOT NULL,
	COD_PRODUTO varchar(10) NOT NULL,
	COD_PRODUTO_FORNECEDOR varchar(20) NULL,
	NOME_PRODUTO varchar(300) NULL,
	NCM_PRODUTO varchar(20) NULL,
	BOL_ATIVO bit NOT NULL,
	DATA_ATUALIZACAO datetime NOT NULL,
	LOGIN_USUARIO varchar(20) NOT NULL,
	NUM_VALOR money NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_T_PRODUTO SET (LOCK_ESCALATION = TABLE)
GO
ALTER TABLE dbo.Tmp_T_PRODUTO ADD CONSTRAINT
	DF_T_PRODUTO_ID_PRODUTO DEFAULT (newid()) FOR ID_PRODUTO
GO
ALTER TABLE dbo.Tmp_T_PRODUTO ADD CONSTRAINT
	DF_T_PRODUTO_BOL_ATIVO DEFAULT ((1)) FOR BOL_ATIVO
GO
IF EXISTS(SELECT * FROM dbo.T_PRODUTO)
	 EXEC('INSERT INTO dbo.Tmp_T_PRODUTO (ID_PRODUTO, ID_FORNECEDOR, COD_PRODUTO_FORNECEDOR, NOME_PRODUTO, NCM_PRODUTO, BOL_ATIVO, DATA_ATUALIZACAO, LOGIN_USUARIO, NUM_VALOR)
		SELECT ID_PRODUTO, ID_FORNECEDOR, COD_PRODUTO, NOME_PRODUTO, NCM_PRODUTO, BOL_ATIVO, DATA_ATUALIZACAO, LOGIN_USUARIO, NUM_VALOR FROM dbo.T_PRODUTO WITH (HOLDLOCK TABLOCKX)')
GO
COMMIT
