/*
   sábado, 4 de maio de 201318:48:33
   User: 
   Server: MAGNUM-PC\SQLEXPRESS
   Database: BRASIL_DIDATICOS
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.T_TAXA
	DROP CONSTRAINT FK_T_TAXA_T_EMPRESA
GO
ALTER TABLE dbo.T_EMPRESA SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.T_EMPRESA', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.T_EMPRESA', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.T_EMPRESA', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.T_TAXA
	DROP CONSTRAINT DF_T_TAXA_ID_TAXA
GO
ALTER TABLE dbo.T_TAXA
	DROP CONSTRAINT DF_T_TAXA_BOL_ATIVO
GO
CREATE TABLE dbo.Tmp_T_TAXA
	(
	ID_TAXA uniqueidentifier NOT NULL ROWGUIDCOL,
	ID_EMPRESA uniqueidentifier NOT NULL,
	NOME_TAXA varchar(20) NOT NULL,
	DES_TAXA varchar(300) NULL,
	BOL_FORNECEDOR bit NULL,
	BOL_PRODUTO bit NULL,
	BOL_DESCONTO bit NULL,
	BOL_ATIVO bit NOT NULL,
	DATA_ATUALIZACAO datetime NOT NULL,
	LOGIN_USUARIO varchar(20) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_T_TAXA SET (LOCK_ESCALATION = TABLE)
GO
ALTER TABLE dbo.Tmp_T_TAXA ADD CONSTRAINT
	DF_T_TAXA_ID_TAXA DEFAULT (newid()) FOR ID_TAXA
GO
ALTER TABLE dbo.Tmp_T_TAXA ADD CONSTRAINT
	DF_T_TAXA_BOL_ATIVO DEFAULT ((1)) FOR BOL_ATIVO
GO
IF EXISTS(SELECT * FROM dbo.T_TAXA)
	 EXEC('INSERT INTO dbo.Tmp_T_TAXA (ID_TAXA, ID_EMPRESA, NOME_TAXA, BOL_FORNECEDOR, BOL_PRODUTO, BOL_DESCONTO, BOL_ATIVO, DATA_ATUALIZACAO, LOGIN_USUARIO)
		SELECT ID_TAXA, ID_EMPRESA, NOME_TAXA, BOL_FORNECEDOR, BOL_PRODUTO, BOL_DESCONTO, BOL_ATIVO, DATA_ATUALIZACAO, LOGIN_USUARIO FROM dbo.T_TAXA WITH (HOLDLOCK TABLOCKX)')
GO
ALTER TABLE dbo.T_PRODUTO_TAXA
	DROP CONSTRAINT FK_T_PRODUTO_TAXA_T_TAXA
GO
ALTER TABLE dbo.T_FORNECEDOR_TAXA
	DROP CONSTRAINT FK_T_FORNECEDOR_TAXA_T_TAXA
GO
DROP TABLE dbo.T_TAXA
GO
EXECUTE sp_rename N'dbo.Tmp_T_TAXA', N'T_TAXA', 'OBJECT' 
GO
ALTER TABLE dbo.T_TAXA ADD CONSTRAINT
	PK_T_TAXA PRIMARY KEY CLUSTERED 
	(
	ID_TAXA
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.T_TAXA ADD CONSTRAINT
	FK_T_TAXA_T_EMPRESA FOREIGN KEY
	(
	ID_EMPRESA
	) REFERENCES dbo.T_EMPRESA
	(
	ID_EMPRESA
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
select Has_Perms_By_Name(N'dbo.T_TAXA', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.T_TAXA', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.T_TAXA', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.T_FORNECEDOR_TAXA ADD CONSTRAINT
	FK_T_FORNECEDOR_TAXA_T_TAXA FOREIGN KEY
	(
	ID_TAXA
	) REFERENCES dbo.T_TAXA
	(
	ID_TAXA
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.T_FORNECEDOR_TAXA SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.T_FORNECEDOR_TAXA', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.T_FORNECEDOR_TAXA', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.T_FORNECEDOR_TAXA', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.T_PRODUTO_TAXA ADD CONSTRAINT
	FK_T_PRODUTO_TAXA_T_TAXA FOREIGN KEY
	(
	ID_TAXA
	) REFERENCES dbo.T_TAXA
	(
	ID_TAXA
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.T_PRODUTO_TAXA SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.T_PRODUTO_TAXA', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.T_PRODUTO_TAXA', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.T_PRODUTO_TAXA', 'Object', 'CONTROL') as Contr_Per 